html {
  font-size: 16px;
}

body {
  font-family: Helvetica, sans-serif;
}

h1, h2, h3 {
  margin: 0;
}

/* HEADER */

header {
  width: 60rem;
  height: 4rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.logo {
  margin-left: 1.5rem;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}

img.logo-image {
  height: 3rem;
  width: auto;
}

nav.menu {
  margin-right: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav.menu span {
  margin: 0 0.5rem;
}

/* JUMBOTRON */

div.jumbotron {
  width: 60rem;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #ddd;
}

div.jumbotron-left {
  width: 60%;
  margin: 2rem 1.5rem;
  display: flex;
  flex-direction: column;
}

img.jumbotron-image {
  width: 100%;
  height: auto;
}

div.jumbotron-right {
  width: 40%;
  margin-right: 1.5rem;
  display: flex;
  flex-direction: column;
}

div.jumbotron-right h1 {
  margin: 1rem 0;
}

div.jumbotron-right h3 {
  margin: 1rem 0;
}

div.start-here-button {
  text-align: center;
  width: 16rem;
  margin: 1rem 0;
  background-color: #666;
}

div.start-here-button span {
  color: #fff;
  display: block;
  margin: 0.5rem 0;
}

/* ANY SECTION */

/* CARD */

div.gray {
  background-color: #ddd;
}

div.card {
  display: flex;
  align-items: center;
}

div.card-left {
  width: 35%; 
  height: 35%;
  margin: 1rem;
  display: flex;
}

img.card-image {
  width: 100%;
  height: 100%;
}

div.card-right {
  width: 65%;
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
}

div.card-right span {
  display: block;
  margin: 0.5rem 0;
}

/* "VERTICAL" CARD */

div.card-vertical {
  width: 29%;
  display: flex;
  flex-direction: column;
  margin: 1rem;
  background-color: #fff;
}

img.card-vertical-image {
  width: 100%;
  height: auto;
}

div.card-vertical h3 {
  margin: 1rem 1rem 0 1rem;
}

div.card-vertical span {
  display: block;
  margin: 0.5rem 1rem 0 1rem;
}

div.card-vertical span.last {
  margin-bottom: 1.5rem;
}

/* FIRST SECTION */

div.first-section {
  width: 60rem;
  margin: 0 auto;
  display: flex;
  background-color: #fff;
}

div.first-section-left {
  width: 60%;
  margin: 2rem 1.5rem;
  display: flex;
  flex-direction: column;
}

div.first-section-left h2 {
  margin-top: 2rem;
}

  div.first-section-left span {
  display: block;
  margin-top: 1.5rem;
}

img.first-section-image {
  width: 100%;
  height: auto;
}

div.first-section-right {
  width: 40%;
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
}

/* SECOND SECTION */

div.second-section-container {
  width: 60rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: #ddd;
}

div.second-section-title {
  width: 60rem;
  text-align: center;
}

div.second-section-title h2 {
  margin-top: 2rem;
}

div.second-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1rem 3.5rem;
}

/* THIRD SECTION */

div.third-section-container {
  width: 60rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

div.third-section-title {
  width: 60rem;
  text-align: center;
}

div.third-section-title h2 {
  margin-top: 2rem;
}

div.third-section {
  width: 60rem;
  display: flex;
}

div.third-section-left {
  width: 60%;
  margin: 2rem 1.5rem;
  display: flex;
  flex-direction: column;
}

div.third-section-left h2 {
  margin-top: 2rem;
}

div.third-section-left span {
  display: block;
  margin-top: 1.5rem;
}

div.third-section-right {
  width: 40%;
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
}

/* FOOTER */

footer {
  width: 60rem;
  height: 4rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #ddd;
}

div.copyright {
  margin: 1rem 0 0 1.5rem;
}

div.terms {
  margin: 1rem 1rem 0 0;
  display: flex;
}

div.terms span {
  display: block;
  margin: 0 0.5rem;
}
